
        <div class="row">
                <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                        <div class="single_carousel">
                        <div class="row justify-content-center">
                                <div class="col-lg-6">
                                <div class="single_testmonial">
                                        <div class="testmonial_author">
                                        <h2 style="color: #d47e0a;">{{photographe.prenom}} {{photographe.nom}}</h2>
                                        </div>
                                        <p>{{photographe.info?.bio}}</p>
                                </div>
                                </div>
                        </div>
                        </div>
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-9">       
                <div class="row" style="height: 100%;">
                    <div class="container">
                        <div class="row">
                            <div  class="col-md-4 mx-auto my-4"
                            style="height: 340px; border-style:solid;border-color: #d47e0a;border-width: 1px;padding-bottom:60px;"
                            *ngFor="let item of portfolio">
                                <img class="card-header" src={{item.url}} style="width:100%; height: 75%;  "/>
                                <a [routerLink]="['/details',item.photographe.id]" class="card-title" align="right">{{item.photographe.nom}} {{item.photographe.prenom}}</a>
                                <p align="right">{{item.titre}} <i>({{item.descr}})</i></p>
                                <h6 align="right">à partir de : {{item.prixAffiche}}</h6>
                                <button class="btn btn-sm btn-success" (click)="Ajouter(item.id)">Ajouter au panier</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>