<div class="container">
    <form>
        <div class="form-group">
            <label for="profil">Civilité:</label>
            <select class="form-control" [(ngModel)]="currentUser.civ" name="civilite">
                <option>mr</option>
                <option>mme</option>
                <option>mlle</option>
            </select>
        </div>
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" [(ngModel)]="currentUser.email" name="email">
        </div>
        <div class="form-group">
            <label for="nom">Nom:</label>
            <input type="text" class="form-control" [(ngModel)]="currentUser.nom" name="nom">
        </div>
        <div class="form-group">
            <label for="prenom">Prenom:</label>
            <input type="text" class="form-control" [(ngModel)]="currentUser.prenom" name="prenom">
        </div>

        <div class="form-group">
            <label for="profil">Profil:</label>
            <select class="form-control" [(ngModel)]="currentUser.profil" name="profil">
                <option>client</option>
                <option>photographe</option>
                <option>admin</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" [(ngModel)]="currentUser.pwd" name="pwd">
        </div>
        <div class="form-group">
            <label for="telephone">Tel:</label>
            <input type="text" class="form-control" [(ngModel)]="currentUser.tel" name="telephone">
        </div>
        <div class="form-group">
            <label for="num">Numero de rue:</label>
            <input type="number" class="form-control" [(ngModel)]="currentAdr.num" name="num">
        </div>
        <div class="form-group">
            <label for="rue">Rue:</label>
            <input type="text" class="form-control" [(ngModel)]="currentAdr.rue" name="rue">
        </div>
        <div class="form-group">
            <label for="cp">Code Postal:</label>
            <input type="text" class="form-control" [(ngModel)]="currentAdr.cp" name="cp">
        </div>
        <div class="form-group">
            <label for="ville">Ville:</label>
            <input type="text" class="form-control" [(ngModel)]="currentAdr.ville" name="ville">
        </div>
        <div class="form-group">
            <label for="pays">Pays:</label>
            <input type="text" class="form-control" [(ngModel)]="currentAdr.pays" name="pays">
        </div>
        <button type="submit" class="btn btn-success" (click)="enregistrer()">Inscription</button>
    </form>
</div>