<div class="col" style="height: 100%; width: 100% ;">
    <div class="col" style="background-color: #d47e0a; " >
        <h3  align="left" style="color: white; padding-top: 1%; margin-left: 20%;" >Nouvelles oeuvres</h3>
        <h5  align="left" style="color: white ; margin-top:2%; margin-left: 20%;" >La légendaire collection Everest</h5>
        <button [routerLink]="['/nouveautes']" type="button" class="btn btn-warning btn-inverse" style="width: 20%; background-color: #d47e0a; margin-left: 20%; margin-top: 1.5%; color: white;">
            Explorer la nouvelle collection
        </button>
        <div style="height: 2px;background-color:#d47e0a; margin-top: 1%;"> </div> 
    </div>
    <div style="margin:4px; padding-bottom:20px; border-style:solid;border-color: #d47e0a;border-width: 2px;">
        <app-top-ventes></app-top-ventes>
    </div>
    <div style="margin:4px; padding-bottom:20px; border-style:solid;border-color: #d47e0a;border-width: 2px;">
        <app-derniers-exemplaires></app-derniers-exemplaires>
    </div>   
</div>
                    
