<div style="height: 100%">
    <h3 align="left" style="color: orange; padding-top: 1%; margin-left: 20%;" >Produits bientôt épuisés :</h3>
    <div class="row" style="margin-left:20%;">
        <div class="col-sm-9">       
            <div class="row" style="height: 100%;">
                <div class="container">
                    <div class="row">
                        <div  class="col-md-4 mx-auto my-4"
                        style="height: 340px; border-style:solid;border-color: #d47e0a;border-width: 1px;padding-bottom:50px;"
                        *ngFor="let item of listPhotographie">
                            <img class="card-header" src={{item.url}} style="width:100%; height: 75%;  "/>
                            <a [routerLink]="['/details',item.photographe.id]" class="card-title" align="right">{{item.photographe.nom}} {{item.photographe.prenom}}</a>
                            <h6 align="right">{{item.titre}} <i>({{item.descr}})</i></h6>
                            <h6 align="right">à partir de : {{item.prixAffiche}}</h6>
                            <button class="btn btn-sm btn-success" (click)="Ajouter(item.id)">Ajouter au panier</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>