<div style="height: 600px; width: 100%;  background-color: rgb(218, 218, 218);" >
<div class="row"style="width: 100%; height: 400px ; background-color: rgb(218, 218, 218); padding-top: 7%; padding-right: 0.5%; padding-left: 3%">

    <div class="row" style="width: 60%; height: 70%; background-color: white;">

       <div class="row" style="width: 75%; height: 100%; ">

        <img src="../../assets/images/card.jpg" width="35%" height="100%">
        
        <div class="col">
                <h5 align="left" style="margin-top: 3%">Nom & prenom</h5> 
                <h6 align="left" style="margin-top: 3%">titre</h6> 
                <p>description</p> 
        </div>

       </div>
       <div style="width: 26.8%; height: 100%;  ">
            <div class="col">
                    <h6 align="left" style=" margin-top: 5%">Format</h6> 
                    <p align="left">description</p> 
                    <h6 align="left" >Finition</h6> 
                    <p align="left">description</p> 
                    <h6 align="left" >Cadre</h6> 
                    <p align="left">description</p> 
            </div>

       </div>

    </div>
    <div class="col" style="width: 40%; height: 310px; background-color: white; ">
            <div class="col">
                    <h6 align="center" style=" margin-top: 2%">Quantité</h6> 
                    <input type="text" style=" margin-left: 44%; width: 60px"> 
                    <div class="row">
                    <b   style=" margin-top:1%; margin-left: 43%">supprimer</b> 
                    <h5   style=" margin-top:8%;  margin-left: 31%">110,0€</h5>  
                    </div>        
            </div>
            
            <div class="col" style="margin-top: 12%">
                    <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">J'ai une carte cadeau / un code promo</label>
                    </div>   
                    
                    <div class="row" >
                            <h5 align="left" style=" margin-top: 5%">Total</h5> 
                            <h5  style=" margin-top: 5%; margin-left: 80%">110,0€</h5> 
                    </div>    
            </div>

    </div>
    <button type="button" class="btn btn-danger"  style="width: 30%; height: 40px; margin-left: 65%; margin-top: 1%;">Valider ma commande</button>

</div>
</div>

<app-ligne-panier></app-ligne-panier>