<div  style="height: 100%">
    <div class="row" >
        <div class="col-sm-3">
            <div id="accordion">
                <div class="card" style="margin-top: 5%;">
                    <div class="card-header"  style="background-color: white">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" >
                                Thèmes
                            </button>

                        </h5>
                      </div>
            
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          <div class="radio"  *ngFor="let i of listThemes" >
                            <label><input type="radio" name="optradio" [value]="i.theme" (change)="changedTheme(i, $event)" >{{i.theme}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header"  style="background-color: white">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Orientation
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                          <div class="checkbox">
                            <label><input type="checkbox" value="portrait" name="portrait" [(ngModel)]="selected.portrait" (change)="filtrerParFormat($event)">Portrait</label>
                          </div>
                          <div class="checkbox">
                            <label><input type="checkbox" value="paysage" name="paysage" [(ngModel)]="selected.paysage" (change)="filtrerParFormat($event)">Paysage</label>
                          </div>
                          <div class="checkbox ">
                            <label><input type="checkbox" value="carre" name="carre" [(ngModel)]="selected.carre" (change)="filtrerParFormat($event)">Carré</label>
                          </div>
                          <div class="checkbox ">
                            <label><input type="checkbox" value="panoramique" name="panoramique" [(ngModel)]="selected.panoramique" (change)="filtrerParFormat($event)">Panoramique</label>
                          </div>
                        </div>
                      </div>
                </div>
                <div class="card">
                    <div class="card-header" style="background-color: white" >
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Formats
                            </button>
                        </h5>
                      </div>
                      <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                          <div  class="checkbox"  *ngFor="let i of listFormats" >
                            <label><input type="checkbox" [name]="i.libelle" (change)="filtrerFormat($event)">{{i.libelle}}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                
                <div class="card">
                    <div class="card-header"  style="background-color: white" >
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Prix
                            </button>
                        </h5>
                    </div>  
                    <div id="collapseFour" class="collapse"  data-parent="#accordion">
                        <div class="card-body">
                            <div class="checkbox">
                                <label><input type="checkbox" >Moins de 50€</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" >de 50€ à 100€</label>
                            </div>
                            <div class="checkbox ">
                                <label><input type="checkbox" >de 100€ à 200€</label>
                            </div>
                            <div class="checkbox ">
                                <label><input type="checkbox" >de 200€ à 500€</label>
                            </div>
                            <div class="checkbox ">
                                <label><input type="checkbox" >de 500€ à 1000€</label>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        
        <div class="col-sm-9">

            <div class="col" style="height: 100px;">
              <h3>{{themeSelectionne?.theme}}</h3>
              <p align="center">{{themeSelectionne?.descr}}</p>
            </div>
            <div class="col" style="height: 2px;background-color:#343a40">
            </div>
      
            <div class="row" style="height: 10%;">
              <div class="row" style="margin-top: 1%; margin-left: 2%; width: 96%">
                <h6>► TRIER PAR :</h6>
                <h6 *ngFor="let i of orientationSelectionnes"> {{i}},</h6>
          
        </div>
        <h6 style="margin-left: 40%">{{listPhotographie.length}} / {{listPhotographiecopy.length}} RESULTATS</h6>
            </div>            
        <div class="row" style="height: 100%;">

            <div class="container">
              <div class="row">
                <div  class="col-md-4 mx-auto my-4" style="height: 340px; border-style:solid;border-color: #d47e0a;border-width: 1px;padding-bottom:50px;" *ngFor="let item of listPhotographie">
    
                  <img class="card-header" src={{item.url}} style="width:100%; height: 75%;  "/>
                  <a [routerLink]="['/details',item.photographe.id]" class="card-title" align="right">{{item.photographe.nom}} {{item.photographe.prenom}}</a>
                  <h6 align="right">{{item.titre}} <i>({{item.descr}})</i></h6>
                  <h6 align="right">à partir de : {{item.prixAffiche}}</h6>
                  <button class="btn btn-sm btn-success" (click)="Ajouter(item.id)">Ajouter au panier</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
</div>