<div style="height: 100%">
    <h3 align="left" style="color: orange; padding-top: 1%; margin-left: 20%;" >Nos artistes :</h3>
    <table class="table table-striped">
        <tr *ngFor="let x of listArtistes">
            <td width="40px">{{x.civ}}</td>
            <td width="240px"><a [routerLink]="['/details',x.id]">{{ x.prenom }} {{ x.nom }}</a></td>
            <td>{{x.info?.bio}}</td>
        </tr>
    </table>