<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">VOTRE PANIER</h1>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Produit</th>
                            <th scope="col">Stock Disponible</th>
                            <!-- <th scope="col" class="text-center">Quantity</th> -->
                            <th scope="col" class="text-right">Prix</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listPhotoCommande; index as i">
                            <td><img src={{item.url}} height="50" width="50"> </td>
                            <td>{{item.titre}}</td>
                            <td>{{item.stockRestant}} photo restante</td>
                            <!-- <td><input class="form-control" type="text" value="1" /></td> -->
                            <td class="text-right">{{item.prixAffiche}}</td>
                            <td class="text-right"><button class="btn btn-sm btn-danger" (click)="Delete(i)"><i class="fa fa-trash">Enlever</i>
                                </button> </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>{{prixEnCours}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <div class="col mb-2">
                <div class="row">
                     <div class="col-sm-12  col-md-6">
                    <button [routerLink]="['/photographies']" class="btn btn-block btn-light" >Continue Shopping</button>
                    
                </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg btn-block btn-success text-uppercase" (click)="validerCommande()">Valider Commande</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Adresse de livraison</h1>
    </div>
</section> -->

<!-- <div class="container">
    <form>
        <div class="form-group">
            <label for="numero">Numero</label>
            <input type="number" class="form-control" [(ngModel)]="currentAdresse.num" name="numero">
        </div>
        <div class="form-group">
            <label for="rue">Rue:</label>
            <input type="text" class="form-control" [(ngModel)]="currentAdresse.rue" name="rue">
        </div>
        <div class="form-group">
            <label for="cp">Code Postal:</label>
            <input type="text" class="form-control" [(ngModel)]="currentAdresse.cp" name="cp">
        </div>
        <div class="form-group">
            <label for="ville">Ville:</label>
            <input type="text" class="form-control" [(ngModel)]="currentAdresse.ville" name="ville">
        </div>
        <div class="form-group">
            <label for="pays">Pays:</label>
            <input type="text" class="form-control" [(ngModel)]="currentAdresse.pays" name="pays">
        </div>
        <button type="submit" class="btn btn-success" (click)="validerAdresse()"
            (keyup)="notifyListUser();">Valider Adresse</button>
    </form>
</div> -->
