<div class="col">
<div class="row" style="height: 50%; background-color: #343a40; ">
  <!-- Brand/logo -->
  <a class="col" routerLink="home" >
    <img src="../assets/images/logo.png" alt="logo1"  style="width:160px;margin-top: 2%;">
  </a>
  <div class="col">
    <div class="input-group" style="width: 500px; margin-left: 2%; margin-top: 2%;">
        <input class="form-control py-2 border-right-0 border" type="search" value="search" >
        <span class="input-group-append">
            <button class="btn btn-outline-secondary border-left-0 border" type="button" style="width: 40px; ">
                <i class="fa fa-search" ></i>
            </button>
          </span>
    </div>
 </div>
 <div class="col" style="margin-top: 0.5%;">
 <img src="../assets/images/user.png" routerLink="connexion" alt="logo" style="width:35px; margin-left: 65%; color: white;"> 
 <img src="../assets/images/what.png" alt="logo" style="width:35px; margin-left: 10px;">
 <img src="../assets/images/panier.png" routerLink="panier" alt="logo" style="width:35px; margin-left: 2%">
</div>
</div>
<div class="row">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="margin-top: 1px; width: 100%;">

    <div class="container" style="margin-right: 20%;">
    <!-- Links -->
    <ul class="nav navbar-nav" routerLinkActive="active">
        
      <li class="nav-item">
        <a class="nav-link" routerLink="photographies" style="color: white;">Photographies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="nouveautes" style="color: white; margin-left: 30%;">Nouveautés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="artistes" style="color: white;  margin-left: 90%; ">Artistes</a>
      </li>
    </ul>
    </div>
    <img src="../assets/images/galerie.png" alt="logo" style="width:35px;">
    <h5 style="color: white; margin-top: 0.5%; margin-right: 2.3%;" >Galerie</h5>
  </nav>
</div>
</div>
<router-outlet></router-outlet>

<!-- footer -->

  <div class="footer-copyright text-center py-3" style="background-color: #343a40; width: 100%;
  position: absolute;
  margin-top: 11%;">
    <div class="row" style="margin-left: 1%;">
    <img src="../assets/images/fr.png" alt="logo" style="width:20px; height: 20px; margin-right: 0.3%; margin-top: 0.3%;">
    <h6 style="color: white; margin-top: 0.3%;" >FR</h6>
    <b  style="color: white; margin-top: 0.2%; margin-left: 47%; font-size:12px ; opacity: 1;">Mentions légères</b>
    <b  style="color: white; margin-top: 0.2%; font-size:12px ;margin-left: 50px;">Conditions générales d'utilisation</b>
    <div class="row" style="margin-left: 21%;">
    <a href="https://twitter.com/"  >
    <img src="../assets/images/twitter.png"  >
    </a>
    <a  href="https://www.facebook.com/" style="margin-left: 30px;">
    <img src="../assets/images/fb.png"  >
    </a>
    </div>

    </div>

  </div>





